<!DOCTYPE html>
{%load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title class="{%block title %}{%endblock%}">Library</title>
   <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
</head>
<body>
<style>
  .navbar-brand {
    font-family: 'Satisfy', cursive;
}
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:home' %}">O L M S</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="{%block home_active%}{%endblock%}"><a href="{% url 'home:home' %}">Home Page</a></li>
        <li class="{%block issues_active%}{%endblock%}"><a href="{% url 'home:issues' %}">Issue a Book</a></li>
        <li class="{%block returns_active%}{%endblock%}"><a href="{% url 'home:returns' %}">Return a Book</a></li>
        <li class="{%block renewals_active%}{%endblock%}"><a href="{% url 'home:renewals' %}">Renewal a Book</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{%url 'home:logout'%}"> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>